*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
  color: white;
}
body{
  height: 100vh;
  width: 100vw;
}
button,h1{
  padding: 100px;
  margin: 30px;
  background-color: pink;
  width: fit-content;
  color: black;
}