*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  /* background-color: black; */
  height: 100%;
  width: 100%;
  /* color: white; */
}
.parent{
  height: 100vh;
  width: 100%;
  background-color: #111;
}
.card{
  height: 400px;
  width: 300px;
  background-color: #fff;
  border-radius: 30px;
}