@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  overflow-x: hidden;
}

body {
  /* background-color: black; */
  height: 100%;
  width: 100%;
  /* color: white; */
}

.parent {
  min-height: 100vh;
  width: 100vw;
  background-color: #101010;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 50px 100px;
}

.card {
  height: 300px;
  width: 300px;
  background-color: #fff;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 15px 25px;
}

.top {
  display: flex;
  flex-direction: row;
  padding: 10px;
  justify-content: space-between;
}

.top img {
  height: 40px;
  width: 40px;
  border: 1px solid rgb(196, 182, 182);
  border-radius: 50%;
  padding: 5px;
}

.top button {
  background-color: whitesmoke;
  width: 58px;
  height: 22px;
  color: #807878;
  border: 1.5px solid #d7d7d7;
  border-radius: 20%;
}

.top button Bookmark {
  height: 15px;
  width: 15px;
}

.center h3 {
  font-size: 18px;
  margin-bottom: 4px;

}

.center span {
  font-size: 10px;
  color: hsl(0, 3%, 49%);
  margin-top: 9px;
}

.gapper {
  display: flex;
  gap: 10px;
}

.center h2 {
  font-size: 20px;
  margin-bottom: 4px;
}

.two-button-parent {
  display: flex;
  gap: 5px;
}

.two-button-parent h4 {
  font-size: 13px;
  background-color: lightgrey;
  padding: 3px 5px;
  border-radius: 15%;
}

.bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 65px;
  border-top: 1.5px solid #d7d7d7;
  padding-top: 8px
}

.bottom div h3 {
  font-size: 15px;
  font-weight: bolder;
}

.bottom div p {
  font-size: 10px;
  color: #807878;
}

.bottom button {
  background-color: black;
  color: white;
  padding: 3px 10px;
  font-size: 11px;
  border-radius: 15%;
  letter-spacing: 1px;

}